<div class="container">
  <div class="d-flex flex-wrap mt-5 w-50 center-input">
    <h3 for="basic-url" class="form-label title-page text-primary">Your temporary email andress</h3>
    <div class="input-group mb-3 mt-3">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
        aria-describedby="button-addon2" [ngModel]="this.domains" readonly>
      <button class="btn btn-secondary" type="button" id="button-addon2" (click)="copyText()">
        <img src="../assets/copia.png" alt="">
        Copy
      </button>
    </div>
    <div class="d-flex justify-content-between w-100 my-3">
      <Button class="btn btn-outline-primary" (click)="chengeEmail()">
        <img src="../assets/new-email.png" alt="">
        Request new email
      </Button>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-2">
    <div class="counter-container">
      <div class="progress-bar" [style.width.%]="(counter / 16) * 100"></div>
      <h1>{{ counter }}</h1>
    </div>
    <span class="mt-2 mx-3">Autofresh in</span>
    <Button class="btn btn-outline-secondary" (click)="getEmails(this.token)">
      <img src="../assets/atualizar.png" alt="">
      refresh
    </Button>
  </div>
  <h5 class="mt-1">Inbox</h5>
  <div class="row">
    <div class="col-md-4" >
      <div class="inbox w-100 mt-3">
        <ng-container *ngIf="emails.length > 0; else noEmails">
          <ul class="list-email" *ngFor="let email of emails" (click)="insertEmailMain(email.fromAddr, email.headerSubject, email.text)">
              <li>
                  <strong>{{ email.fromAddr }}</strong>
              </li>
              <li>
                  <strong>{{ email.headerSubject }}</strong>
              </li>
              <li>
                  {{ email.text | slice:0:20 }}
              </li>
          </ul>
      </ng-container>
      
      <ng-template #noEmails>
          <p>Nenhum email recebido</p>
      </ng-template>
      </div>
    </div>
    <div class="col-md-6">
      <app-email-main 
      fromAddr="{{this.fromAddr}}"
      headerSubject="{{this.headerSubject}}"
      bodyText="{{this.text}}"
      ></app-email-main>
    </div>
  </div>
</div>


